@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sono&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #09090b;
    font-family: 'Sono';
}
.container{
    /* padding: 100px; */
   /* background-color: red; */
   /* width: 100%; */

    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.box{
    background-color: #27272a;
    color: white;
    margin: auto;
    width: 80%;
    margin-top: 12vh;
    border-radius: 10px;
    box-shadow: 10px 10px 10px  #073f1e ;
    border-color: #14532d;
}
.sign{
    font-size: 28px;
    display: flex;
    justify-content: center;
    /* margin-top: 4vh; */
    margin-bottom: 5vh;
    padding: 28px;
    font-family: 'Coiny';
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
li{
    list-style: none;
    display: grid;
    grid-template-columns: 200px 350px;
    column-gap: 40px;
    margin-bottom: 40px;    
}
input{
    margin-left: 80px;
}
/* @media(max-widht:1300px){ */

/* } */
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
.btn{
    padding: 4px 70px 3px;
    margin-bottom: 30px;
    font-family: inherit;
    border-radius: 5px;
}
.btn:hover,
.btn:active{
    transform:scale(110%) rotate(-2deg);
    background-color: #20E20C;
    border: none;


    }
label:hover{
    color: #20E20C;
}
input{
    background-color: #1fca66 ;
    border-radius: 5px;
    border:none;
}
input::placeholder{
    color: black;
}

.login{
    margin-bottom: 30px;
    /* margin-left: 40px;
    margin-right: auto; */
}
.sourcelink,
.sourcelink:visited{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.sourcelink:hover,
.sourcelink:active{
    color: rgb(45, 202, 92);
}

